<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {{ metatags }}
        
        {% block htmltitle %}
        <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
        {% endblock %}

        {# FAVICON #}
        {% if favicon %}
        <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
        {% endif %}

        <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />

        {% for cssfile in css_files %}
        <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
        {% endfor %}

        {% for cssfile in extra_css_files %}
        <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
        {% endfor %}
    </head>
    <body>
        <header class="site-header">
            <div class="wrapper">
                <h1><a class="site-title" href="{{ pathto(master_doc) }}">{{ project }}</a></h1>
                <p>The documentation</p>
                <a class="page-link" href="/">Home</a>
                <nav class="site-nav">
                    {{ toctree(maxdepth=4, collapse=False, includehidden=True) }}
                </nav>
            </div>
        </header>

        <div class="page-content">
            <div class="wrapper">
                <div class="home">
                    <section class="post-list">
                        <div class="post">
                            <div class="wrapper">
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </section>
                </div>

				{%- block footer %}
                <div class="post">
                    <div class="wrapper">
                        <footer class="site-footer">
                            <p>&copy; Histacom Development Team</p>
                            <h3><p>Web design by <a href="https://github.com/phillips1012">phillips1012</a>, <a href="https://github.com/UberGM/">UberGM</a>, and <a href="https://github.com/pfgithub">pfg</a></p></h3>
                        </footer>
                    </div>
                </div>
                {%- endblock %}
            </div>
        </div>
    </body>
</html>
